body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style-type: none;
}

h2,
h6 {
    margin: 0;
}
h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h1,
h6 {
    font-family: Shrikhand, Roboto, sans-serif;
}

body,
html {
    font-family: "Roboto", sans-serif;
}

.header_main h1 {
    text-align: center;
}

footer {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    background-color: #353535;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    padding: 44px 25px 30px 25px;
    color: white;

    h3 {
        font-family: "Shrikhand", "sans-serif";
        padding: 5px 0 0px 0;
    }

    a {
        color: white;
    }

    ul {
        flex-direction: column;
        align-items: start;
        gap: 5px;

        list-style-type: none;
        display: flex;
        list-style-type: none;
        justify-content: center;

        li {
            padding: 5px 0 5px 0;
        }
    }
}

.fa-handshake {
    transform: rotate(-45deg);
}

.fa-utensils {
    padding-right: 5px;
}

.about {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;

    h2 {
        font-weight: bold;
        font-size: 24px;
        padding: 0 20px;
    }

    p {
        color: #4d4d4d;
        padding: 20px;
    }
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9356dc;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #9356dc;
    width: 25px;
    height: 25px;
    position: relative;
    right: 10px;
}

.restaurant_title h2 {
    padding: 30px 0px 0px 20px;
}

.card {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    margin: 20px;
    position: relative;

    img {
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 100%;
        max-height: 220px;
    }
}

.restaurants {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    figure {
        margin: 0;
    }

    figcaption {
        margin: 0;
        padding: 13px;
    }
}

.heart h4 {
    margin: 0;
    font-size: 18px;
}
.heart p {
    font-size: 17px;
    font-weight: 300;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

.loader {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-family: Shrikhand, sans-serif;
    font-size: x-large;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 1s ease-in-out 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.loader__food {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    span {
        display: inline-block;
        width: 5px;
        height: 20px;
        padding-right: 1em;
    }
}

.main_menu {
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position: relative;
    margin-top: -50px;
    margin-left: 0;
    margin-right: 0;
}

.menu_full {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu_categories {
    animation: fadein 3s ease-in-out;
}

.dish {
    animation: fadein 6s ease-in-out;
}

.dessert {
    animation: fadein 9s ease-in-out;
}

.meal_selection_check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    width: 50px;
    height: 63px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 20px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;

    .fa-check-circle {
        color: #fff;
        transition: transform 500ms ease-in-out;
    }
}

.line {
    width: 40px;
    border: 1px solid #99e2d0;
    margin-left: 10px;
}

.search_places {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.search_input input {
    border: none;
    background: #eaeaea;
    font-size: 16px;
    padding: 20px 5px 20px 5px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
    font-family: "Roboto";
}

.about_button button {
    color: #fff;
    cursor: pointer;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: var(
        --Button-Gradient,
        linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
    );
    border: 0px solid transparent;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: "Roboto";
    font-size: 16px;

    &:hover {
        background-color: #ae80e5;
        background-blend-mode: lighten;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}

.new_badge {
    width: 80px;
    height: 29px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    color: #008766;
    background: #99e2d0;
    border: 5px solid #99e2d0;
    position: absolute;
    right: 12px;
    top: 12px;
}

$gradient-colors: #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da;

.hidden-checkbox {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.heart_section{
    position: absolute;
    bottom: 20px;
    right: 19px;
}

.hidden-checkbox:checked + .custom-checkbox i.fill {
    animation: fill 0.5s ease;
    background-image: linear-gradient(to left, #{$gradient-colors}),
        linear-gradient(to bottom, white, white);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

.fill {
    color: black;
}
.fa-heart:before {
    font-size: 22px;
}

.header_imgage img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.header_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    position: absolute;
    left: 20px;
}
.menu__main {
    background-color: white;
}
.main_title {
    font-family: Shrikhand, sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 30px 10px;
}

.meals {
    background-color: #fff;
    border-radius: 15px;
    margin: 12px;
    padding: 10px;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out;

    &:hover {
        padding-right: 75px;

        .meal_selection_check {
            opacity: 1;
            transform: translate(-50px);
        }

        .fa-check-circle {
            transform: rotate(360deg);
        }
    }
}

.meal_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;

    p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    span {
        margin-right: 5px;
    }
}

.meals h4 {
    margin: 0;
}

.menu_categories h3,
.dish h3,
.dessert h3 {
    padding-left: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 300;
}

.order_button {
    button {
        border: none;
        padding: 10px 5px;
        color: #fff;
        box-shadow: 4px 4px 6px #aaa;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
        margin: 40px 0;
        padding: 15px 50px;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: var(
            --Button-Gradient,
            linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
        );
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

        &:hover {
            background-color: #ae80e5;
            background-blend-mode: lighten;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
    }

    display: flex;
    justify-content: center;
}

.guide_steps {
    padding: 50px 180px;
}

.steps {
    list-style-type: none;

    li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        padding: 25px;
        margin: 15px 20px 15px 30px;
        border-radius: 20px;
        background: var(--Background, #f6f6f6);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        height: 72px;
        flex: 1;

        p {
            font-weight: 800;
            margin-left: 20px;
        }

        &:hover {
            background: #f2eafb;

            .fas {
                color: #9356dc;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .steps {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu_full {
        padding: 0 100px;
    }
    .about h2 {
        font-size: 40px;
    }
}
@media screen and (max-width: 1280px) {
    .guide_steps {
        padding: 20px;
    }
}

.step--number {
    background-color: #9356dc;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -40px;
}

.step--icon {
    color: grey;
    font-size: 1.2rem;
    margin-left: 20px;
}

// Keyframes //

@keyframes loader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulsation {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1);
    }
}
@keyframes fill {
    0% {
        background-size: 0% 100%, 0% 0%;
    }
    100% {
        background-size: 100% 100%, 100% 100%;
    }
}
@keyframes reverse-fill {
    0% {
      background-size: 100% 100%, 100% 100%;
    }
    100% {
      background-size: 0% 100%, 0% 0%;
    }
  }

// Media queries Desktop/Tablet //

@media screen and (min-width: 768px) {
    .main_menu {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .loader__food {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .card {
        width: 40%;
    }

    .restaurants {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .restaurant_title {
        width: 100%;
    }

    .number {
        right: 0;
        top: -15px;
    }

    footer {
        text-align: center;
        gap: 30px;
    }
    footer {
        align-items: center;
        flex-direction: row-reverse;
    }
    footer ul {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (min-width: 1280px) {
    .main_title {
        padding: 20px 90px;
    }

    .loader__food {
        top: 50%;
        left: 50%;
    }

    .meal_description p {
        padding-right: 20px;
    }

    .guide_steps h2 {
        padding: 0 20px;
    }

    .restaurants {
        padding: 0 180px;
    }
    .hidden-checkbox + .custom-checkbox i.fill {
        &:hover {
            &::before {
                animation: fill 0.5s ease;
                background-image: linear-gradient(to left, #{$gradient-colors}),
                    linear-gradient(to bottom, white, white);
                background-repeat: no-repeat;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-weight: bold;
            }
        }
    }
}

